*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* header section start */
header{

    background-color: white;
    position: fixed;
    padding: 0px 20px;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid gray;
    z-index: 999;
    
}
header .col #logo{

    width: 100px;
}
header  ul{

    list-style: none;
    display: flex;
    justify-content: center;

}
header  ul li{

    padding: 0px 15px;
}
 
header  ul li a{

    color: black;
    text-decoration: none;
    font-weight: 500;
    display: block;
    transition: all 0.4s;

}
header ul li a:hover{

    color: #ED1651;
}
header  ul .menu .sub-menu{

    display: none;
}
header  ul .menu:hover .sub-menu{

     display: block;
      
     position: absolute;
     color: black;
    background: white;
    width: 200px;
    top: 70px;
    z-index: 1;

}
header ul .menu:hover .sub-menu div{

    line-height: 40px;
    border-bottom: 1px solid rgb(204, 200, 200);
    padding-left: 20px;
    position: relative;
}
header .col-lg-4 ul li {

    padding: 0px 5px;
}
header .col-lg-4 ul .menu:hover .sub-menu{

    display: block;
     
    position: absolute;
    color: black;
   background: white;
   width: 200px;
   top: 70px;
   right: 300px;
   box-shadow: 4px 5px 20px gray;
    

}
header .btn {

    padding: 10px 15px;
    background-color: #ED1651;
    height: 50px;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
 
header .btn span{

   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0%;
    z-index: -1; 
    transition: all 1s;


}
#btn1{

    
    position: relative;
    overflow: hidden;
}
#btn1:hover span{
  
   
    background-color: black;
    height: 100%;
}
#btn1:hover{

    
    color: white;

}


header .offcanvas .offcanvas-body nav ul{

    display: inline;
}
header .offcanvas .offcanvas-body nav ul li{

    line-height: 40px;
}

header ul .menu .sub-menu a:hover{

    padding-left: 20px;
    position: relative;

} 
header ul .menu .sub-menu div a::before{

    content: "";
    position: absolute;
    width: 0px;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #e8064a;
    transition: all 0.4s;
    transform: translatey(-50%);

} 
header ul .menu .sub-menu a:hover::before{

     
    width: 15px;
     

} 
.disabled-link {
    pointer-events: none; /* Disables both click and hover */
   
  } 
 
  #details-btn {
    
    padding: 5px 15px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid #e8064a;
    font-weight: 500;
    position: relative; /* Make sure the button is relative to contain the pseudo-element */
    transition: all 0.4s;
    overflow: hidden; /* Ensure overflow is hidden */
    align-self: center; /* Center the button horizontally */
     
}

#details-btn span {
    z-index: 1;
    position: relative;
}

#details-btn::before {
    content: "";
    width: 0px;
    height: 20px;
    background-color: #e8064a;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.4s;
}

 #details-btn:hover::before {
    width: 100%; /* Expand to full width */
    height: 100%; /* Expand to full height */
    color: white;
}
#details-btn span {
    z-index: 1;
    position: relative;
    transition: color 0.4s; /* Smooth transition for text color */
}
#details-btn:hover span {
    color: white; /* Change text color on hover */
}
 
/* header section end */

/* back ground image section start */

.back-img{


    background: linear-gradient(to right, rgba(148, 2, 63, 0.986), rgba(14, 116, 197,0.5)), url(../images/bg2.jpg);

   margin-top: 80px; 
   height: 280px;
 
   background-size: cover;
     background-position: center;
     width: 100%;
     position: relative;
}
.back-img h2{

    position: absolute;
    margin-top: 120px;
    margin-left: 140px;
    color: white;
    font-weight: 700;
    font-size: 33px;
     
}

/* back ground image section end */

/* form section start */

.form-section{


    margin: 50px 0px;
    background-color: #F3EFE7;
   position: relative;
    padding: 100px;
}
 
/* form section end */

/* map section start */

.map{

    background-color: #F4F7F6;

     padding: 50px 0px;
}

.map #map-img{

    width:800;
    height:450;
}
.map iframe{

    width: 800px;
    height: 400px;
}
/* map section end */

.map .r-border{

    border-right: 1px solid black;
}



  
/* varma home section start */

.varma-home{

    background-color: #F9F3ED;
    padding: 50px 20px;
    border-bottom: 1px solid black;
}
.varma-home img{

    margin: 50px;
}
.varma-home p{

    margin: 100px 20px;
}

/* varma home section end */



/* footer section start */

footer{

    background-color: #F9F3ED;
    padding: 50px 0px;
}
footer ul{

    list-style: none;
   
}
footer ul li{

    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    position: relative; /* Necessary for the ::after positioning */
    display: inline-block; 
}
footer ul li:hover{

    color: #f60b4a;
    
     
}
footer ul li::after{

    content: ''; /* You need to specify content, even if it's empty */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%; /* Start with 0 width */
    height: 1px; /* The height of the border */
    background-color: #ED1651; /* Color of the border */
    transition: width 0.3s ease; /* Smooth transition for the width */
}
footer ul li:hover::after{

    width: 100%; /* On hover, the width expands to 100% */
}
footer .row{
 
    
     border-bottom: 1px solid black;
}
footer h6{

    font-weight: 800;
    font-size: 16px;
    padding-bottom: 25px;
}
footer .icons{

    margin: 20px 0px;
    
}
footer .icons .icon{

    margin-right: 20px;
     padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid black;
    transition: transform 0.3s ease;
     
}
footer .icons .icon:hover{

    background-color: #e8064a;
    color: white;
     
    
}
 
/* footer section end */






/* for extra small screen */
@media (min-width: 375px) and (max-width: 576px){ 



    /* header section */
    
    header{

        background-color: white;
        position: fixed;
        padding: 0px 20px;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        line-height: 0px;
        border-bottom: 1px solid gray;
        z-index: 999;
        
    } 
     
    .col-lg-7{

        display: none;
    }

    .col-lg-4 img{

        display: block;
        margin-top: -50px;
        position: absolute;
        
        margin-left: 50px;
        position: absolute;
       
    }
    header .col-lg-4 ul li {

        padding: 0px 25px;
        
    }
    header .col-lg-4 ul   {

        margin-left: 80px;
        
        
    }
    .col-lg-4 button{

        display: none;
    }
     
    header .col #logo{
    
        width: 100px;
        margin-top: 20px;
    }
    .col-lg-4 li #icon{

        margin-top: -50px;
        position: absolute;

        
    }


/* back ground image section start */

 
.back-img h2{

    position: absolute;
    margin-top: 120px;
    margin-left: 40px;
    color: white;
    font-weight: 700;
    font-size: 33px;
     
}

/* back ground image section end */


.map .r-border{

    border-right: none;
}

 

/* varma home section start */

.varma-home{

    background-color: #F9F3ED;
    padding: 50px 20px;
    border-bottom: 1px solid black;
}
.varma-home img{

    margin: 0px;
}
.varma-home p{

    margin: 100px 20px;
}

/* varma home section end */

}
/* Small Devices */
@media (min-width: 576px) and (max-width: 768px) {

    .col-lg-7{

        display: none;
    }

    .col-lg-4 img{

        display: block;
        margin-top: -50px;
        position: absolute;
        
        margin-left: 100px;
        position: absolute;
       
    }
    header .col-lg-4 ul li {

        padding: 0px 25px;
        
    }
    header .col-lg-4 ul   {

        margin-left: 220px;
        
        
    }
    .col-lg-4 button{

        display: none;
    }
     
    header .col #logo{
    
        width: 100px;
        margin-top: 20px;
    }
    .col-lg-4 li #icon{

        margin-top: -50px;
        position: absolute;

        margin-left: 50px;

        
    }
     
     
    
     
    /* header section end */

   /* back ground image section start */

 
.back-img h2{

    position: absolute;
    margin-top: 120px;
    margin-left: 80px;
    color: white;
    font-weight: 700;
    font-size: 33px;
     
}

/* back ground image section end */

.map .r-border{

    border-right: none;
}


 

/* varma home section start */

.varma-home{

    background-color: #F9F3ED;
    padding: 50px 20px;
    border-bottom: 1px solid black;
}
.varma-home img{

    margin: 0px;
}
.varma-home p{

    margin: 100px 20px;
}

/* varma home section end */

    /* varma home section start */

.varma-home{

    background-color: #F9F3ED;
    padding: 50px 20px;
    border-bottom: 1px solid black;
}
.varma-home img{

    margin: 0px 100px;
}
.varma-home p{

    margin: 100px 20px;
}

/* varma home section end */

/* footer section start */

footer{

    background-color: #F9F3ED;
    padding: 50px 150px;
}
}


/* Medium Devices */
@media (min-width: 768px) and (max-width: 992px) {


    .col-lg-7{

        display: none;
    }

    .col-lg-4 img{

        display: block;
        margin-top: -50px;
        position: absolute;
        
        margin-left: 150px;
        position: absolute;
       
    }
    header .col-lg-4 ul li {

        padding: 0px 25px;
        
    }
    header .col-lg-4 ul   {

        margin-left: 220px;
        
        
    }
    .col-lg-4 button{

        display: none;
    }
     
    header .col #logo{
    
        width: 100px;
        margin-top: 20px;
    }
    .col-lg-4 li #icon{

        margin-top: -55px;
        position: absolute;
        margin-left: 100px;

        
    }


     /* back ground image section start */

 
.back-img h2{

    position: absolute;
    margin-top: 120px;
    margin-left: 80px;
    color: white;
    font-weight: 700;
    font-size: 33px;
     
}

/* back ground image section end */

.map .r-border{

    border-right: none;
}


   
   
     
/* varma home section start */

.varma-home{

    background-color: #F9F3ED;
    padding: 50px 20px;
    border-bottom: 1px solid black;
}
.varma-home img{

    margin: 0px 200px;
}
.varma-home p{

    margin: 100px 20px;
}

/* varma home section end */

/* footer section start */

footer{

    background-color: #F9F3ED;
    padding: 50px 250px;
    font-size: 20px;
}
    
     
    
     
    /* header section end */
}

/* Large Devices */
@media (min-width: 992px) and (max-width: 1200px) {

    .col-lg-7{

        display: block;
    }

    .col-lg-4 img{

        display: block;
         
       
        
        
        position: absolute;
       
    }
    header .col-lg-4 ul li {

        padding: 0px 25px;
        
        
    }
    header .col-lg-4 ul   {

        margin-left: -70px;
        margin-top: 20px;
        
        
    }
    .col-lg-4 button{

        display:block;
    }
     
    header .col #logo{
    
        width: 600px;
        margin-top: 10px;
    }
    .col-lg-4 li #icon{

        
        position: absolute;
        margin-left: -20px;

        
    }

/* button section start */

.image-btn button{

    width: 150px;
    height: 50px;
    background-color: #e8064a;
    border-radius: 50px;
    color: white;
    margin: 50px 400px;
    border: none;
}
/* button section end */

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;  
      
    overflow: hidden;
    border-radius: 5px;  
    object-fit: cover;

    margin-bottom: 25px;
     
     
}


.image-container img {
    width: 100%;  
      
    transition: transform 0.3s ease;  
    object-fit: cover;
    height: 100%; 
     
     display: block;
     
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);  
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    opacity: 0;  
    transition: opacity 0.3s ease;  
}

.image-container .overlay p{

     
    margin-top: 170px;
    margin-left: 20px;
     font-size: 15px;
     font-weight: 700;
     position: absolute;
     
}

.image-container .overlay .icon{

    
     margin: 0px 120px;
     font-size: 30px;

}
.image-container:hover img {
    transform: scale(1.1);  
}

.image-container:hover .overlay {
    background-color: rgba(0, 0, 0, 0.7); 
    opacity: 1; 
}

 


/* images section end */

/* varma home section start */

.varma-home{

    background-color: #F9F3ED;
    padding: 50px 20px;
    border-bottom: 1px solid black;
}
.varma-home img{

    margin: 0px 0px;
}
.varma-home p{

    margin: 0px 80px;
}

/* varma home section end */

/* footer section start */

footer{

    background-color: #F9F3ED;
    
    font-size: 20px;
}
footer ul{

    list-style: none;
    
    
   
}
footer ul li{

    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    position: relative; /* Necessary for the ::after positioning */
    display: inline-block; 
}
 
footer h6{

    font-weight: 800;
    font-size: 16px;
    padding-bottom: 25px;
}
footer .icons{

    margin: 20px 0px;
    
}
footer .icons .icon{

    margin-right: 10px;
     padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid black;
    transition: transform 0.3s ease;
     
}
 
 
/* footer section end */
}


/* Extra Large Devices */
@media (min-width: 1200px) and (max-width: 1415px) {

    .col-lg-7{

        display: block;
    }

    .col-lg-4 img{

        display: block;
         
       
        
        
        position: absolute;
       
    }
    header .col-lg-4 ul li {

        padding: 0px 25px;
        
        
    }
    header .col-lg-4 ul   {

        margin-left: -70px;
        margin-top: 20px;
        
        
    }
    .col-lg-4 button{

        display:block;
    }
     
    header .col #logo{
    
        width: 600px;
        margin-top: 10px;
    }
    .col-lg-4 li #icon{

        
        position: absolute;
        margin-left: -20px;

        
    }

    /* button section start */

.image-btn button{

    width: 150px;
    height: 50px;
    background-color: #e8064a;
    border-radius: 50px;
    color: white;
    margin: 50px 500px;
    border: none;
}
/* button section end */
    
/* varma home section start */

.varma-home{

    background-color: #F9F3ED;
    padding: 50px 20px;
    border-bottom: 1px solid black;
}
.varma-home img{

    margin: 0px 0px;
}
.varma-home p{

    margin: 0px 40px;
}

/* varma home section end */

/* footer section start */

footer{

    background-color: #F9F3ED;
    padding: 50px 0px;
    font-size: 20px;
}
}